{% extends 'base.html.twig' %}

{% block title %}reserver{% endblock %}

{% block body %}

<div class="container">
<section class="form">
    
<div class="row">
   

        
        <div class="col"> </div>
          <div class="col-6" >
           
          {{form_start(reservationForm)}}
         <div class="mb-3">
            
            {{form_row(reservationForm.user,{'attr':{'class':'form-control'}})}}
        </div>
        

        
        <div class="mb-3">
            
            {{form_row(reservationForm.salledeprojection,{'attr':{'class':'form-control'}})}}
        </div>
        

        
         <div class="mb-3">
            
            {{form_row(reservationForm.film,{'attr':{'class':'form-control'}})}}
        </div>
         

        
         <div class="mb-3">
            
            {{form_row(reservationForm.nombredetickets,{'attr':{'class':'form-control'}})}}
        </div>
         <div class="mb-3">
         <button><a href="{{path('payement')}}" >payer</a></button>
        </div>
        {{form_end(reservationForm)}}
            
          </div>
          <div class="col"></div>
        </div>
        
    </div>
</section
{% endblock %}
